@import "bourbon";
@import "vars.sass";

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "RobotoRegular", sans-serif;
	overflow-x: hidden;
}

.main_header_bg {
	background-image: url(../img/header_bg.jpg);
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	height: 718px;
}
.main_header_text {
	padding-top: 60px;
	font-size: 29px;
}
.main_header_text h2 {
	padding: 0;
	margin: 0;
	line-height: 65px;
	font-weight: normal;
	color: black;
}

/* HEADER */

.blue_header {
	background: linear-gradient(to top, #58A9EC, #6EB4EF);
	background: -moz-linear-gradient(to top, #58A9EC, #6EB4EF);
	background: -webkit-linear-gradient(to top, #58A9EC, #6EB4EF);
	border-bottom: 2px solid #3D76A5;
	box-shadow: -5px 0 5px rgba(0, 0, 0, 0.9);
	-webkit-box-shadow: -5px 0 5px rgba(0, 0, 0, 0.9);
	-moz-box-shadow: -5px 0 5px rgba(0, 0, 0, 0.9);
	-o-box-shadow: -5px 0 5px rgba(0, 0, 0, 0.9);
}

.logo {
	width: 18%;
	display: inline-block;
}

.logo img {
	width: 100%;
}

.mobile_navigation {
	position: absolute;
	top: 20px;
	right: 0;
	width: 100%;
	height: 330px;
	z-index: 1238;
	display: none;
}

.mobile_navigation .navigation {
	width: 100%;
	margin-top: 80px;
}

.mobile_navigation .navigation ul li {
	display: block;
	margin: 0;
	padding: 0;
	background: #3D9BE9;
	margin-bottom: 10px;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-o-border-radius: 20px;
	padding: 0 5px;
}

.mobile_navigation .navigation ul li a {
	font-size: 25px;
}

.navigation {
	width: 76%;
	display: inline-block;
	vertical-align: middle;
}

.navigation ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	float: right;
}

.navigation ul li {
	display: inline-block;
	margin-right: 22px;
}

.navigation ul li a {
	color: #fff;
	font-size: 19px;
	padding: 7px;
}

.navigation ul li a:hover {
	text-decoration: none;
}

.navigation ul li:last-child {
	background: orange;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-o-border-radius: 20px;
	padding: 0 5px;
}

.nav_button {
	width: 50px;
	height: 50px;
	border: 1px solid white;
	cursor: pointer;
	background: rgba(0, 0, 0, 0.2);
	z-index: 168719874;
/*	border-radius: 14px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	-o-border-radius: 14px;*/
	display: none;
}

.nav_button:hover {
	background: orange;
}

.nav_button_line {
	width: 35px;
	height: 3px;
	background: white;
	margin-top: 8px;
	margin-left: 7px;
}
.nav_button_line:first-child {
	margin-top: 12px;
}
